header {
  width: 100%;
  overflow: hidden;
  background: transparent;
  position: relative;
  .inner {
    max-width: 1330px;
    padding: 0 30px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    .logo {
      color: #eee;
      font-weight: bold;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
    }
    .mobile_navbar {
      display: none;
      position: fixed;
      transform: translateX(-100%);
      top: 0;
      left: 0;
      z-index: 10;
      width: 300px;
      height: 100vh;
      background-color: #eee;
      transition: 0.5s;
      &.on {
        transform: translateX(0%);
      }
      h1 {
        position: relative;
        text-align: center;
        padding: 21px 0;

        font-size: 40px;

        &::after {
          content: 'An untraditional hotel';
          font-size: 12px;
          position: absolute;
          left: 31%;
          bottom: 3px;
          color: #999;
        }
      }
      ul {
        width: 100%;
        margin-top: 30px;

        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          margin: 0 auto;
          width: 80%;
          height: 70px;
          a {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            color: #000;
          }
          border-bottom: 1px solid black;
          &:nth-of-type(1) {
            border-top: 1px solid black;
          }
        }
      }
    }
    .menu_btn {
      display: none;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
    }
    .gnb {
      display: flex;
      gap: 50px;
      > li {
        font-size: 17px;
        > a {
          font-family: 'Raleway', sans-serif;
          color: #eee;
        }
      }
    }
  }
  &.sub {
    background-color: rgb(218, 217, 217);
    .inner {
      .logo {
        color: #000;
      }
      .menu_btn {
        color: #000;
      }
      .gnb {
        > li > a {
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    .inner {
      max-width: 1330px;
      height: 70px;

      .logo {
        font-size: 25px;
      }
      .gnb {
        display: none;
      }
      .globalButton {
        display: none;
      }
      .menu_btn {
        display: block;
      }
      .mobile_navbar {
        display: block;
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  header {
    .inner {
      max-width: 1330px;
      height: 53px;
    }
  }
}
