header {
  width: 100%;
  overflow: hidden;
  background: transparent;
  position: relative;
  .inner {
    max-width: 1330px;
    padding: 0 30px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    .menu_btn {
      display: none;
      &.on {
        color: rgb(56, 83, 75);
      }
      &.off {
        color: #fff;
      }
    }
    .logo {
      color: #eee;
      font-weight: bold;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
    }
    .gnb {
      display: flex;
      gap: 50px;
      > li {
        font-size: 17px;
        > a {
          font-family: 'Raleway', sans-serif;
          color: #eee;
        }
      }
    }
  }
  &.sub {
    background: rgb(218, 217, 217);
    .inner {
      .logo {
        color: #000;
      }
      .gnb {
        > li > a {
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    .inner {
      max-width: 1330px;
      height: 70px;

      .logo {
        font-size: 25px;
      }
      .gnb {
        display: none;
      }
      .globalButton {
        display: none;
      }
      .menu_btn {
        display: block;
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  header {
    .inner {
      max-width: 1330px;
      height: 53px;
    }
  }
}
