.about_main {
  width: 100%;
  .inner {
    padding: 100px 4vw;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    .about_description {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      div {
        h1 {
          font-family: 'Raleway', sans-serif;
          font-size: 50px;
          margin-bottom: 30px;
        }
        p {
          font-family: 'Raleway', sans-serif;
          margin-bottom: 50px;
          font-size: 18px;
          font-weight: bold;
          line-height: 25px;
        }
      }
    }
    .about_image {
      flex: 1;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      ul {
        display: flex;
        margin-top: 15px;
        gap: 10px;
        li {
          width: 10px;
          height: 10px;
          background-color: rgb(69, 69, 69);
          border-radius: 50%;
          &.on {
            background-color: #000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .about_main {
    .inner {
      padding: 20px 0;
      display: block;

      .about_description {
        display: block;
        position: absolute;
        top: 10%;
        z-index: 3;

        div {
          h1 {
            color: #fff;

            font-size: 60px;
          }
          p {
            color: #fff;

            font-size: 22px;
            font-weight: normal;
          }
        }
      }
      .about_image {
        height: 100vh;
        ul {
          position: absolute;
          bottom: 3vh;
          left: 5vw;
          display: block;
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .about_main {
    .inner {
      padding: 20px 0;
      display: block;

      .about_description {
        display: block;
        position: absolute;
        top: 10%;
        z-index: 3;

        div {
          h1 {
            color: #fff;
            font-size: 30px;
            margin-bottom: 15px;
          }
          p {
            color: #fff;
            font-size: 11px;
            font-weight: normal;
            line-height: auto;
            margin-bottom: 25px;
          }
          a {
            font-family: 'Raleway', sans-serif;

            line-height: 40px;
            width: 120px;
            height: 40px;
            font-size: 12px;
          }
        }
      }
      .about_image {
        height: 100%;
        ul {
          position: absolute;
          bottom: 3vh;
          left: 5vw;
          display: block;
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}
