.figure {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  .background {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../../../public/images/home_background.jpg) no-repeat center/cover;
    filter: grayscale(0.9);
  }
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .figure_sub_title {
      overflow: hidden;
      > p {
        transition: 1s;
        transition-delay: 1.2s;
        transform: translateY(100%);
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 18px;
        width: 100%;
        &.on {
          transform: translateY(0%);
        }
      }
    }
    .figure_title {
      overflow: hidden;

      > h1 {
        transform: translateY(150%);
        transition-duration: 2s;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 76px;
        font-weight: normal;
        margin: 30px 0;
        text-align: center;
      }
    }
    .figure_description {
      overflow: hidden;
      > p {
        transition: 2s;
        transition-delay: 0.5s;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 18px;
        text-shadow: 1px 1px 0px rgba($color: #000000, $alpha: 0.6);
        text-align: center;
        transform: translateY(100%);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .figure {
    .inner {
      .figure_sub_title {
        > p {
          font-size: 18px;
        }
      }
      .figure_title {
        > h1 {
          padding: 0 10px;
          font-size: 33px;
          margin: 15px 0;
        }
      }
      .figure_description {
        > p {
          font-size: 13px;
        }
      }
    }
  }
}
