.container {
  .contact_info {
    display: flex;
    article {
      flex: 1;
      &:nth-of-type(1) {
        position: relative;
        border-right: 2px solid #999;
        padding-right: 30px;
        > h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        > p {
          color: #999;
          font-size: 14px;
          line-height: 19px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        form {
          fieldset {
            width: 100%;
            min-width: 0;
            table {
              min-width: 0;
              width: 100%;
              flex: 1;
              tbody {
                display: flex;
                flex-wrap: wrap;
                tr {
                  position: relative;
                  text-align: left;
                  display: flex;
                  flex-direction: column;
                  width: 48%;
                  margin-right: 2%;
                  height: 50px;
                  margin-bottom: 40px;
                  height: 60px;

                  label {
                    font-size: 16px;
                  }
                  &:nth-last-child(2) {
                    width: 100%;
                    height: 80px;
                  }
                  &:last-child {
                    width: 100%;
                    align-items: flex-end;
                    justify-content: center;
                    margin-top: 30px;
                    > th {
                      display: flex;
                      gap: 30px;
                      input {
                        &:nth-of-type(1) {
                          background-color: transparent;
                          color: rgb(56, 83, 75);
                          border: 1px solid rgb(56, 83, 75);
                        }
                      }
                    }
                  }
                }
                td {
                  height: 100%;
                  position: relative;
                  > span {
                    position: absolute;
                    bottom: -30px;
                    width: 100%;
                    left: 0;

                    color: red;
                    font-size: 7px;
                  }
                  input {
                    width: 100%;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #000;

                    font-size: 20px;
                    height: 100%;
                    flex: 1;
                  }
                  textarea {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #000;
                    padding-top: 10px;
                    font-size: 17px;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        padding-left: 70px;
        position: relative;
        > div {
          h2 {
            font-size: 24px;
            margin-bottom: 10px;
          }
          p {
            color: #999;
            line-height: 24px;
            margin-bottom: 10px;
          }
          .iconInfoBox {
            margin-right: auto;
            margin-right: 0;
            width: 100%;
            display: flex;
            gap: 15px;
            align-items: center;
            margin-bottom: 40px;
            .iconBox {
              width: 30px;
              height: 30px;
              background-color: rgb(56, 83, 75);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon {
                color: #fff;
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }
  }
  .mapContainer {
    margin-top: 70px;

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      padding-right: 50px;
      margin-top: 30px;
      li {
        cursor: pointer;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        &.on {
          background-color: rgb(56, 83, 75);
          color: #fff;
        }
      }
    }
    #map {
      margin: 30px auto 0;
      width: 100%;
      height: 500px;

      filter: grayscale(100%);
    }
  }
}

@media screen and (max-width: $tablet) {
  .container {
    .contact_info {
      display: flex;
      flex-direction: column;
      article {
        padding: 30px;
        &:nth-of-type(1) {
          border-right: none;
        }
        &:nth-of-type(2) {
          padding: 30px;
        }
      }
    }
    .mapContainer {
      margin-top: 0px;
      ul {
        justify-content: center;

        padding-right: 0px;

        li {
          color: #000;
          transition: 0.2s;
          &.on {
            background-color: rgb(56, 83, 75);
            color: #fff;
          }
        }
      }
      #map {
        height: 500px;
        filter: grayscale(100%);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .container {
    .contact_info {
      article {
        padding: 0;
        &:nth-of-type(1) {
          padding-right: 0;
          form {
            fieldset {
              table {
                min-width: 0;
                flex: 1;
                tbody {
                  overflow: hidden;
                  width: 100%;
                  margin-right: 0;
                  flex-direction: column;
                  tr {
                    display: flex;
                    width: 90vw;
                    margin-right: 0;
                    &:nth-last-child(2) {
                      width: 100%;
                      height: 80px;
                    }
                    &:last-child {
                      width: 100%;
                      align-items: center;

                      margin-top: 20px;
                      > th {
                        display: flex;
                        input {
                          width: 150px;
                        }
                      }
                    }
                  }
                  td {
                    width: 100%;
                    input {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-of-type(2) {
          padding: 30px 0px;

          > div {
            h2 {
              font-size: 24px;
              margin-bottom: 10px;
            }
            p {
              color: #999;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .iconInfoBox {
              margin-right: auto;
              margin-right: 0;
              width: 100%;
              display: flex;
              gap: 15px;
              align-items: center;
              margin-bottom: 40px;
              .iconBox {
                width: 30px;
                height: 30px;
                background-color: rgb(56, 83, 75);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                  color: #fff;
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
        }
      }
    }
    .mapContainer {
      margin-top: 0px;
      ul {
        margin-top: 30px;
        li {
          height: 50px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s;
          font-size: 14px;
          &.on {
            background-color: rgb(56, 83, 75);
            color: #fff;
          }
        }
      }
      #map {
        margin: 30px auto 0;
        width: 100%;
        height: 500px;

        filter: grayscale(100%);
      }
    }
  }
}
