.Youtube {
  .inner {
    > h2 {
      margin-bottom: 30px;
      font-size: 17px;
      font-weight: normal;
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-bottom: 50px;
      > li {
        cursor: pointer;
        transition: width 0.5s, font-size 0.5s 0.5s;
        display: flex;
        align-items: center;
        border-radius: 30px;
        justify-content: center;
        height: 50px;
        &.off {
          width: 70px;
          background-color: rgb(186, 186, 186);
          color: #000;
          font-size: 11px;
        }
        &.on {
          width: 200px;
          font-size: 17px;
          background-color: #000;
          color: #eee;
        }
      }
    }
    .youtube_container {
      display: flex;
      flex-wrap: wrap;
      transition: 0.5s;
      &.off {
        opacity: 0;
        transform: translateY(70px);
      }
      &.on {
        opacity: 1;
        transform: translateY(0);
      }
      li {
        background-color: #eee;
        width: 30%;
        height: 400px;
        margin-right: 5%;
        margin-bottom: 30px;
        box-shadow: 6px 6px 7px 0px rgb(0 0 0 / 31%);
        .video_title {
          font-size: 24px;

          padding: 10px 20px;
        }
        .thumbnail {
          margin-bottom: 30px;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .video_info {
          padding: 0 20px;

          .video_des {
            color: #999;
          }
        }
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
    .btnBox {
      width: 100%;
      display: flex;
      justify-content: center;
      .moreBtn {
        font-size: 24px;
        margin-top: 40px;
        &:hover {
          animation: anime 1.5s alternate infinite;
        }
      }
    }
  }
}

@keyframes anime {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
