$tablet: 1179px;
$mobile: 520px;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'common/reset';
@import 'common/layout';
@import 'common/header';
@import 'common/footer';
@import 'main/figure';
@import 'main/about_main';
@import 'main/bannel_main';
@import 'main/info_main';
@import 'main/gallery_main';
@import 'sub/contact';
.globalButton {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  line-height: 50px;
  outline: none;
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(56, 83, 75);
  color: #fff;
  font-size: 16px;
}

.hidden {
  position: absolute;
  top: -999999px;
}

fieldset {
  border: none;
}

textarea {
  resize: none;
}
