$tablet: 1179px;
$mobile: 570px;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'common/reset';
@import 'common/layout';
@import 'common/header';
@import 'common/footer';
@import 'common/modal';
@import 'main/figure';
@import 'main/about_main';
@import 'main/bannel_main';
@import 'main/info_main';
@import 'main/gallery_main';
@import 'sub/contact';
@import 'sub/department';
@import 'sub/youtube';
@import 'sub/gallery';
.globalButton {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
  line-height: 50px;
  outline: none;
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(56, 83, 75);
  color: #fff;
  font-size: 16px;
}

.mobile_navbar {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 100vh;
  background-color: #eee;
  transition: 0.5s;
  &.off {
    transform: translateX(-100%);
  }
  &.on {
    transform: translateX(0%);
  }
  h1 {
    position: relative;
    text-align: center;
    padding: 21px 0;

    font-size: 40px;
    a {
      color: #000;
    }
    &::after {
      content: 'An untraditional hotel';
      font-size: 12px;
      position: absolute;
      left: 31%;
      bottom: 3px;
      color: #999;
    }
  }
  ul {
    width: 100%;
    margin-top: 30px;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 auto;
      width: 80%;
      height: 70px;
      a {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #000;
      }
      border-bottom: 1px solid black;
      &:nth-of-type(1) {
        border-top: 1px solid black;
      }
    }
  }
}
.menu_btn {
  // display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.hidden {
  position: absolute;
  top: -999999px;
}

fieldset {
  border: none;
}

textarea {
  resize: none;
}

@media screen and (max-width: $tablet) {
  .mobile_navbar {
    display: block;
  }
}
